
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div style="height: 3rem;width: 100%; background-color: #23123A;"></div>
        <nav id="desktopMenu" class="menu">
            <ul>
                <li><a href="#">Navigation Link One</a></li>
                <li><a href="#">Navigation Link Two</a></li>
                <li><a href="#">Navigation Link Three</a></li>
            </ul>
        </nav>
        <nav id="mobileMenu" class="menu">
            <ul>
                <li><a href="#">Link One</a></li>
                <li><a href="#">Link Two</a></li>
                <li><a href="#">Link Three</a></li>
            </ul>
        </nav>
        <div class="messageImg">
            <h1>Do the right thing</h1>
        </div>
        <div class="content">
            <h1 id="contenth1">Credit Opportunities With Good Approval Odds†</h1>
            <div class="masterCardContent">
                <div class="cardTitle">
                    <h1>Barclaycard CashForward<sup>TM</sup> World MasterCard<sup>TM</sup></h1>
                    <span id="review">
                        3,252 Reviews</span>    
                </div>
                <div class="cardSection">
                    <div class="carImgSection" style="flex-basis:40%">
                        <img src="/assets/images/card.jpg" style="width: 50%; height: 100%;" alt="">
                        <div class="carImgBtnSection">
                            <span id="approval">Approval <br> Odds†</span>
                            <button>Very Good</button>    
                        </div>    
                    </div>
                    <ul style="flex-basis:60%">
                        <li>Get a $100 cash rewards bonus after you spend $500 in purchases 
                            in the first 90 days after account oppening.</li>
                        <li>Earn unlimited 1.5% cash rewards on every purcahse.</li>
                        <li>Earn unlimited 1.5% cash rewards on every... <a href="#">show more</a></li>
                    </ul>
                </div>
         
                <button id="applyNowBtn">Apply Now</button>
                <hr>
                <a href="#">See Details Rates & Fees</a>
            </div>
        </div>

    </div>
  
</body>
</html>